<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <compilation debug="true" >

        </compilation>
    <!--
      <authentication> 섹션에서는 ASP.NET에서 사용되는 
      보안 인증 모드의 구성을 설정하여 
      들어오는 사용자를 식별할 수 있습니다. 
    -->
    <authentication mode="Windows" />
    <!--
       <customErrors> 섹션에서는 요청을 실행하는 동안 
       처리되지 않은 오류가 발생하는 경우 수행할 작업을 
       구성할 수 있습니다. 특히 이 
       섹션에서 개발자는 오류 스택 추적 대신 html 
       오류 페이지가 표시되도록 구성할 수 있습니다.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    </system.web>

</configuration>
